/*****************************************************************************************
*                                      COMPONENTS
*****************************************************************************************/
@media (min-width: 768px){
    .search-component {
        width: 468px;
    }

    .col-md-7{
        margin-top: 15px;
    }
}


@media (min-width: 992px) {
    .search-component {
        width: 600px;
    }

    .col-md-7{
        margin-top: 0;
    }
}
