<div class="search-component">
    <header>
        <i class="fa fa-bed border-circle"></i>
        <span>HOTÉIS</span>
    </header>
    <div class="container-fluid">
        <div class="row text-center">
            <p class="text color-default">+170.000 hotéis, pousadas e resorts no mundo todo.</p>
        </div>
        <form name="search_form">
            <div class="row">
                <div class="col-md-5">
                    <label for="local">Quer ficar onde?</label>
                    <span class="error">Por favor digite mais de 3 caracteres e selecione um das sugestões indicadas.</span>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <i class="fa fa-map-marker color-orange" aria-hidden="true"></i>
                                <input type="text" required class="default" autocomplete="off" ng-model="search.local" ng-change="autoComplete()" name="local" id="local" placeholder="cidade ou hotel"/>
                            </div>
                            <div class="auto-complete">
                                <div class="auto-complete-border"></div>
                                <div class="result">
                                    <ul>
                                        <li ng-repeat="item in autoCompleteList" ng-click="setLocal(item)">
                                            <i class="fa fa-search"></i>
                                            <span>{{item.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="auto-complete-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <label>Quando? (Entrada e Saída)</label>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <i class="fa fa-calendar color-orange" aria-hidden="true"></i>
                                <input type="text" class="default" ng-required="!search.has_date" placeholder="entrada" pikaday ng-model="search.start_date" name="start_date" id="start_date" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <i class="fa fa-calendar color-orange" aria-hidden="true"></i>
                                <input type="text" class="default" ng-required="!search.has_date" placeholder="saída" pikaday ng-model="search.end_date" name="end_date" id="end_date" />
                            </div>
                        </div>
                    </div>
                    <div class="row checkbox">
                        <div class="col-xs-12">
                            <input type="checkbox" ng-model="search.has_date"> Ainda não defini as datas
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <button class="btn btn-search bg-orange" ng-click="doSearch()"><i class="fa fa-search color-white" aria-hidden="true"></i> BUSCAR</button>
            </div>
        </form>
    </div>
</div>
